.Home p{
    font-size: 70px;
    font-weight: 900;
    font-family: homeFont;
    -webkit-text-stroke: 0.5px #cadefc;
}

@font-face {
    font-family: homeFont;
    src: url(../../../Assets/fonts/MIDLANER\ DEMO.ttf);
  }
